<!DOCTYPE html>
<html lang="en">

<head>
	<title>Restablecer Contraseña - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/styleLogin.css}" />
	<!-- Fin CSS -->
	<!-- Js -->
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/toast.js}"></script>
</head>

<body>
	<div class="wrapper">

		<!-- Formulario -->
		<form method="post" th:action="@{/restablecer/cambiar-password}" th:object="${objetoDTO}"
			onsubmit="return validarPasswords()">
			<h1>Restablecer contraseña</h1>

			<!-- Token -->
			<input type="text" name="token" th:value="${token}" style="display: none;" required>

			<!-- Password 1 -->
			<div class="input-box">
				<input type="password" placeholder="Nueva Contraseña" th:field="*{password1}" id="password1" required>
				<i class="fa-solid fa-envelope"></i>
			</div>

			<!-- Password 2 -->
			<div class="input-box">
				<input type="password" placeholder="Introduzca de nuevo la contraseña" th:field="*{password2}"
					id="password2" required>
				<i class="fa-solid fa-envelope"></i>
			</div>

			<!-- Botón de enviar -->
			<button type="submit" class="boton">Enviar</button>

			<!-- Enlace a login -->
			<div class="register-link">
				<p>Pulsa <a th:href="@{/login}">aquí</a> para volver.</p>
			</div>
		</form>
		<!-- Fin formulario -->

	</div>

	<!-- Toast -->
	<div th:replace="~{partials/toast::toast}"></div>

	<script th:if="${param.success}">
		muestraToast("Se ha cambiado la contraseña con éxito!!", true);
	</script>
	
	<script th:if="${param.error}">
			muestraToast("Se ha producido un error. Vuelva a intentarlo más tarde.", false);
		</script>
</body>

</html>