<!DOCTYPE html>
<html lang="en">

<head>
	<title>Activar cuenta - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/styleLogin.css}" />
	<!-- Fin CSS -->
</head>

<body>
	<div class="wrapper">

		<!-- Formulario -->
		<form method="post" th:action="@{/activa-cuenta}">
			<h1>Activar cuenta</h1>

			<p>Para activar la cuenta introduzca su email.</p>

			<!-- Email -->
			<div class="input-box">
				<input type="email" placeholder="Email" name="email" required>
				<i class="fa-solid fa-envelope"></i>
			</div>

			<!-- Token -->
			<input type="text" name="token" th:value="${token}" style="display: none;" required>

			<!-- Control de alertas -->
			<div th:if="${param.success}" class="alert alert-success" role="alert">
				Se ha activado la cuenta con éxito!!
			</div>

			<div th:if="${param.error}" class="alert alert-danger" role="alert">
				Se ha producido un error. Vuelve a intentarlo más tarde!!
			</div>
			<!-- Fin Control de alertas -->

			<!-- Botón enviar -->
			<button type="submit" class="boton">Enviar</button>

			<!-- Enlace a login -->
			<div class="register-link">
				<p>Pulsa <a th:href="@{/login}">aquí</a> para volver.</p>
			</div>
		</form>
	</div>
</body>

</html>