<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
	<title>Register - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/styleLogin.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- Fin CSS -->
	<!-- Js -->
	<script th:src="@{js/main.js}"></script>
	<script th:src="@{js/toast.js}"></script>
</head>

<body>
	<!-- Nav -->
	<div th:replace="~{partials/navbar::navbar}"></div>
	<!-- Fin Nav -->

	<div class="wrapper">

		<!-- Formulario -->
		<form method="post" th:action="@{/registro}" th:object="${usuarioDTO}" onsubmit="return validarFormularioRegistro()">
			<h1>Registro sesión</h1>

			<!-- Email -->
			<div class="input-box">
				<input type="email" placeholder="Email" name="emailUsuario" th:field="*{emailUsuario}" required
					id="email">
				<i class="fa-solid fa-envelope"></i>
			</div>

			<!-- Nombre -->
			<div class="input-box">
				<input type="text" placeholder="Nombre" name="nombreUsuario" th:field="*{nombreUsuario}" required>
				<i class="fa-solid fa-user"></i>
			</div>

			<!-- Teléfono -->
			<div class="input-box">
				<input type="text" placeholder="Teléfono" name="tlfUsuario" th:field="*{tlfUsuario}" required id="tlf">
				<i class="fa-solid fa-phone"></i>
			</div>

			<!-- Password -->
			<div class="input-box">
				<input type="password" placeholder="Contraseña" name="psswdUsuario" th:field="*{psswdUsuario}" required
					id="password">
				<i class="fa-solid fa-lock"></i>
			</div>

			<!-- Botón de enviar -->
			<button type="submit" class="boton">Enviar</button>

			<!-- Enlace a login -->
			<div class="register-link">
				<p>¿Ya estás registrado? <a th:href="@{/login}">Inicia sesión</a></p>
			</div>

		</form>
		<!-- Fin formulario -->

	</div>

	<!-- Toast -->
	<div th:replace="~{partials/toast::toast}"></div>

	<!-- Control de alertas -->
	<script th:if="${param.success}">
		muestraToast("Se ha enviado un correo para que confirmes la cuenta!!", true);
	</script>

	<script th:if="${param.email}">
		muestraToast("El email introducido ya existe!!", false);
	</script>

	<script th:if="${param.error}">
		muestraToast("Se ha producido un error. Vuelve a intentarlo más tarde!!", false);
	</script>
	<!-- Fin Control de alertas -->

</body>

</html>