<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Administracion Suplementos - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- Fin CSS -->
	<!-- SweetAlert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- Fin SweetAlert2 -->
	<!-- JS -->
	<script th:src="@{/js/toast.js}"></script>
</head>

<body>
	<!-- Nav -->
	<div th:replace="~{partials/navbar::navbar}"></div>
	<!-- Fin Nav -->

	<!-- Contenedor -->
	<div class="container">
		<main role="main" class="pb-3">
			<div class="row tablaAdmin">
				<div class="col-12">
					<h1 class="text-center tituloVista">Administración Suplementos</h1>
				</div>
				<div class="col">
					<!-- Enlaces para navegar por adminsitracion -->
					<div style="margin-bottom: 5px;">
						<a class="btn btn-outline-secondary" role="button" th:href="@{/admin/usuarios}">Usuarios</a>
						<a class="btn btn-outline-secondary" role="button"
							th:href="@{/admin/suplementos}">Suplementos</a>
						<a class="btn btn-outline-secondary" th:href="@{/admin/suplementos/agregar}" role="button"
							style="float: right">Añadir Suplemento</a>
					</div>

					<!-- Tabla -->
					<div class="table-responsive">
						<table class="table table-dark table-hover">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nombre</th>
									<th scope="col">Descripción</th>
									<th scope="col">Precio</th>
									<th scope="col">Tipo</th>
									<th scope="col">Marca</th>
									<th scope="col">Editar/Eliminar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${listaSuplementosDTO != null && listaSuplementosDTO.size() < 1}">
									<td colspan="7" style="text-align: center">No existe ningún suplemento.</td>
								</tr>
								<tr th:each="suplementoDTO, stat: ${listaSuplementosDTO}">
									<th scope="row" th:text="${stat.index + 1}"></th>
									<td th:text="${suplementoDTO.getNombreSuplemento}"></td>
									<td th:text="${suplementoDTO.getDescSuplemento}"></td>
									<td th:text="${suplementoDTO.getPrecioSuplemento} + '$'"></td>
									<td th:text="${suplementoDTO.getTipoSuplemento}"></td>
									<td th:text="${suplementoDTO.getMarcaSuplemento}"></td>
									<td>
										<a th:href="@{/admin/suplementos/editar/} + ${suplementoDTO.getIdSuplemento()}"><i
												class="bi bi-pen" style="color: green; padding-left: 15px;"></i></a>
										<i class="bi bi-trash" style="color: red; margin-left: 35px; cursor: pointer;"
											th:attr="data-idSuplemento=${suplementoDTO.getIdSuplemento()}"
											onclick="compruebaEliminar(event)"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
	</div>

	<!-- Toast -->
	<div th:replace="~{partials/toast::toast}"></div>

	<script>
		function compruebaEliminar(event) {
			const idSuplemento = event.currentTarget.getAttribute("data-idSuplemento");
			Swal.fire({
				title: "¿Estás seguro?",
				text: "No se podrán revertir los cambios!",
				icon: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Si, eliminar!",
				cancelButtonText: "Cancelar"
			}).then((result) => {
				if (result.isConfirmed) {
					// Eliminamos
					// Obtén la ruta base de la URL actual (localhost:1234)
					const baseUrl = window.location.origin;

					// Redirige a la nueva URL (/Admin/BorrarSuplemento)
					window.location.href = baseUrl + '/admin/suplementos/borrar/' + idSuplemento;
				}
			});
		}
	</script>

	<!-- Control borrado suplemento -->
	<script th:if="${param.success}">
		muestraToast("El suplemento se ha borrado con éxito!", true);
	</script>

	<script th:if="${param.error}">
		muestraToast("El suplemento no se ha podido eliminar!", false);
	</script>
	<!-- Control borrado suplemento -->

	<!-- Control agregar suplemento -->
	<script th:if="${param.suplementoAgregadoSuccess}">
		muestraToast("El suplemento se ha agregado con éxito!", true);
	</script>

	<script th:if="${param.suplementoAgregadoError}">
		muestraToast("El suplemento no se ha podido agregar!", true);
	</script>
	<!-- Control agregar suplemento -->

	<!-- Control editar suplemento -->
	<script th:if="${param.suplementoEditadoSuccess}">
		muestraToast("El suplemento se ha editado con éxito!", true);
	</script>

	<script th:if="${param.suplementoEditadoError}">
		muestraToast("El suplemento no se ha podido editar!", true);
	</script>
	<!-- Control editar suplemento -->
</body>

</html>