<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Editar Suplemento - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- Fin CSS -->
	<!-- Js -->
	<script th:src="@{/js/validarAdminSuplementos.js}"></script>
	<script th:src="@{/js/toast.js}"></script>
</head>

<body>
	<!-- Nav -->
	<div th:replace="~{partials/navbar::navbar}"></div>
	<!-- Fin Nav -->

	<div class="container">
		<main role="main" class="pb-3">
			<div class="row">
				<div class="col-12">
					<h1 class="text-center tituloVista">Editar Suplemento</h1>
				</div>
				<div class="col">
					<div class="contenedor">
						<!-- Imagen -->
						<div class="contenedor-imagen">
							<img th:if="${suplementoDTO.getImagenSuplemento() != null}"
								th:src="'data:image/png;base64, '+ ${suplementoDTO.getImagenSuplemento()}"
								class="card-img-top imagen" alt="Foto del suplemento" id="profile-pic">
							<img th:if="${suplementoDTO.getImagenSuplemento() == null}"
								src="https://upload.wikimedia.org/wikipedia/commons/4/41/Profile-720.png"
								class="card-img-top imagen" alt="Foto de suplemento genérico" id="profile-pic">
						</div>

						<!-- Formulario -->
						<div class="inputs-form">
							<form method="post" th:action="@{/admin/suplementos/editar}" th:object="${suplementoDTO}"
								enctype="multipart/form-data" onsubmit="return validarFormulario()">

								<!-- Imagen -->
								<div class="mb-3">
									<label for="imagenForm" class="btn btn-primary botonImagen">Añadir imagen</label>
									<input type="file" accept="image/jpeg, image/png, image/jpg" id="imagenForm"
										style="display: none;" name="imagenFile">
								</div>

								<!-- Nombre -->
								<div class="mb-3">
									<label for="nombreForm" class="form-label">Nombre</label>
									<input type="text" class="form-control inputVistaEditar" id="nombreForm"
										th:field="*{nombreSuplemento}" required>
								</div>

								<!-- Descripcion -->
								<div class="mb-3">
									<label for="descForm" class="form-label">Descripcion</label>
									<textarea class="form-control inputVistaEditar" id="descForm"
										th:field="*{descSuplemento}" rows="3" maxlength="254" required></textarea>
								</div>

								<!-- Precio -->
								<div class="mb-3">
									<label for="precioForm" class="form-label">Precio</label>
									<input type="text" class="form-control inputVistaEditar" id="precioForm"
										th:field="*{precioSuplemento}" required>
								</div>

								<!-- Marca -->
								<div class="mb-3">
									<label for="marcaForm" class="form-label">Marca</label>
									<input type="text" class="form-control inputVistaEditar" id="marcaForm"
										th:field="*{marcaSuplemento}" required>
								</div>

								<!-- Tipo -->
								<div class="mb-3">
									<label for="tipoForm" class="form-label">Tipo</label>
									<select th:field="*{tipoSuplemento}" class="form-select" aria-label="tipo select"
										id="tipoForm" style="border: 1px solid black;">
										<option value="" selected>-- Selecciona --</option>
										<option value="Proteína">Proteína</option>
										<option value="Creatina">Creatina</option>
										<option value="Pre-Entrenamiento">Pre-Entrenamiento</option>
									</select>
								</div>

								<input type="text" class="form-control" name="idSuplemento" th:field="*{idSuplemento}"
									style="display:none">

								<!-- Boton enviar -->
								<button type="submit" class="btn btn-primary">Enviar</button>
							</form>
							<a th:href="@{/admin/suplementos}" class="btn btn-danger botonVolver">Volver</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<!-- Toast -->
	<div th:replace="~{partials/toast::toast}"></div>

	<script>
		let profilePic = document.getElementById("profile-pic");
		let inputFile = document.getElementById("imagenForm");

		inputFile.onchange = function () {
			profilePic.src = URL.createObjectURL(inputFile.files[0]);
		}
	</script>
</body>

</html>