<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Administracion Usuarios - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}" asp-append-version="true" />
	<!-- Fin CSS -->
	<!-- SweetAlert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" asp-append-version="true"></script>
	<!-- Fin SweetAlert2 -->
	<!-- JS -->
	<script th:src="@{/js/toast.js}"></script>
</head>

<body>
	<!-- Nav -->
	<div th:replace="~{partials/navbar::navbar}"></div>
	<!-- Fin Nav -->

	<div class="container">
		<main role="main" class="pb-3">
			<div class="row tablaAdmin">
				<div class="col-12">
					<h1 class="text-center tituloVista">Administración Usuarios</h1>
				</div>
				<div class="col">
					<!-- Enlaces para moverse entre administracion -->
					<div style="margin-bottom: 5px;">
						<a class="btn btn-outline-secondary" role="button" th:href="@{/admin/usuarios}">Usuarios</a>
						<a class="btn btn-outline-secondary" role="button"
							th:href="@{/admin/suplementos}">Suplementos</a>
						<a class="btn btn-outline-secondary" th:href="@{/admin/usuarios/agregar}" role="button"
							style="float: right">Añadir Usuario</a>
					</div>

					<!-- Tabla -->
					<div class="table-responsive">
						<table class="table table-dark table-hover">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nombre</th>
									<th scope="col">Email</th>
									<th scope="col">Rol</th>
									<th scope="col">Editar/Eliminar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${listaUsuariosDTO != null && listaUsuariosDTO.size() < 1}">
									<td colspan="5" style="text-align: center">No existe ningún usuario.</td>
								</tr>
								<tr th:each="usuarioDTO, stat: ${listaUsuariosDTO}">
									<th scope="row" th:text="${stat.index + 1}"></th>
									<td th:text="${usuarioDTO.getNombreUsuario()}"></td>
									<td th:text="${usuarioDTO.getEmailUsuario()}"></td>
									<td th:if="${usuarioDTO.getIdAcceso() == 2}">Admin</td>
									<td th:if="${usuarioDTO.getIdAcceso() == 1}">Usuario</td>
									<td>
										<a th:href="@{/admin/usuarios/editar/} + ${usuarioDTO.getIdUsuario()}"><i
												class="bi bi-pen" style="color: green; padding-left: 15px;"></i></a>
										<i class="bi bi-trash" style="color: red; margin-left: 35px; cursor: pointer;"
											th:attr="data-idUsuario=${usuarioDTO.getIdUsuario()}, data-idAcceso=${usuarioDTO.getIdAcceso()}, data-emailUsuario=${usuarioDTO.getEmailUsuario()}"
											onclick="compruebaEsAdmin(event)"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
	</div>

	<!-- Toast -->
	<div th:replace="~{partials/toast::toast}"></div>

	<script>
		function compruebaEsAdmin(event) {
			const id_acceso = event.currentTarget.getAttribute("data-idAcceso");
			const idUsuario = event.currentTarget.getAttribute("data-idUsuario");
			const emailUsuario = event.currentTarget.getAttribute("data-emailUsuario");
			if (id_acceso != 2) {
				compruebaEliminar(idUsuario, emailUsuario);
			} else {
				Swal.fire({
					title: "Error!",
					text: "No puedes borrar un Administrador!",
					icon: "error"
				});
			}
		}

		function compruebaEliminar(idUsuario, emailUsuario) {
			Swal.fire({
				title: "¿Estás seguro?",
				text: 'Para eliminar introduce el email: "' + emailUsuario + '"',
				input: 'text',
				showCancelButton: true
			}).then((result) => {
				if (result.value == emailUsuario) {
					// Eliminamos
					// Obtén la ruta base de la URL actual (localhost:8080)
					const baseUrl = window.location.origin;

					// Redirige a la nueva URL (/Admin/BorrarUsuario)
					window.location.href = baseUrl + '/admin/usuarios/borrar/' + idUsuario;
				}
			});
		}
	</script>

	<!-- Control de alertas -->

	<!-- Control borrar -->
	<script th:if="${param.success}">
		muestraToast("El usuario se ha borrado con éxito!", true);
	</script>

	<script th:if="${param.error}">
		muestraToast("El usuario no se ha podido eliminar!", false);
	</script>
	<!-- Fin Control borrar -->

	<!-- Control agregar -->
	<script th:if="${param.usuarioAgregadoSuccess}">
		muestraToast("El usuario se ha agregado con éxito!", true);
	</script>

	<script th:if="${param.usuarioAgregadoExiste}">
		muestraToast("El email introducido ya existe!", false);
	</script>

	<script th:if="${param.usuarioAgregadoError}">
		muestraToast("Se ha producido un error. Vuelva a intentarlo más tarde!", false);
	</script>
	<!-- Fin Control agregar -->

	<!-- Control actualizar -->
	<script th:if="${param.usuarioEditadoSuccess}">
		muestraToast("El usuario ha sido actualizado con éxito!", true);
	</script>

	<script th:if="${param.usuarioEditadoError}">
		muestraToast("Se ha producido un error. Vuelva a intentarlo más tarde!", false);
	</script>
	<!-- Fin Control actualizar -->

	<!-- Fin Control de alertas -->
</body>

</html>