<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Pedidos - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- Fin CSS -->
</head>

<body>
<!-- Boton cambiar modo -->
<div th:replace="~{partials/botonDarkLight::botonCambiarModo}"></div>
<!-- Fin boton cambiar modo -->

	<!-- Nav -->
	<div th:replace="~{partials/navbar::navbar}"></div>
	<!-- Fin Nav -->

	<!-- Contenedor -->
	<div class="container">
		<main role="main" class="pb-3">
			<div class="row">
				<div class="col">
					<h1 class="text-center colorLetras" style="margin-top: 15px;">Historial de Pedidos</h1>
					<div class="accordion" id="accordionExample">

						<!-- Mensaje No Existe Pedido -->
						<div th:if="${listaOrdenDto.size() == 0}"
							class="bg-light border border-2 border-black shadow-lg mt-3 rounded-3">
							<h4 class="pt-4 text-center text-black">No se han realizado pedidos.</h4>
							<p class="text-center text-black w-50 my-4 m-auto "> Aún no ha realizado ningún pedido en nuestra
								tienda. Explore
								nuestra amplia selección de suplementos deportivos y realice su primer pedido hoy mismo.
								Estamos aquí para ayudarle a alcanzar sus metas de bienestar y rendimiento.</p>
						</div>

						<!-- Lista Pedidos -->
						<div th:each="ordenDto, stat: ${listaOrdenDto}" class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									th:data-bs-target="${'#collapse' + stat.index}" aria-expanded="false"
									th:aria-controls="${'collapse' + stat.index}">
									<div class="button-content-pedidos">
										<div class="left-content-pedidos">
											<span style="font-weight: bold;">Fecha Pedido: </span>
											<span th:text="${ordenDto.parseaFecha()}"></span>
										</div>
										<div class="right-content-pedidos">
											<span style="font-weight: bold;">Precio total :</span>
											<span th:text="${ordenDto.getPrecioOrden() + '$'}"></span>
										</div>
									</div>
								</button>
							</h2>
							<div th:id="${'collapse'+stat.index}" class="accordion-collapse collapse"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<!-- Tabla -->
									<div class="table-responsive">
										<table class="table table-dark table-hover text-center">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Suplemento</th>
													<th scope="col">Cantidad</th>
													<th scope="col">Precio unidad</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="carritoDTO: ${ordenDto.getListaCarritoDto()}">
													<th scope="row"><img
															th:src="'data:image/png;base64, '+ ${carritoDTO.getSuplementoDTO().getImagenSuplemento()}"
															class="img-fluid" style="max-width: 80px; max-height: 80px;"
															th:alt="${carritoDTO.getSuplementoDTO().getNombreSuplemento()}">
													</th>
													<td
														th:text="${carritoDTO.getSuplementoDTO().getNombreSuplemento()}">
													</td>
													<td th:text="${carritoDTO.getCantidad()}"></td>
													<td
														th:text="${carritoDTO.getSuplementoDTO().getPrecioSuplemento()} + '€'">
													</td>
												</tr>
											</tbody>
										</table>
									</div>

									<!-- Boton generar pdf -->
									<a th:href="@{/pedidos/export/} + ${ordenDto.getIdOrden()}"
										class="btn btn-primary">Generar PDF</a>
								</div>
							</div>
						</div>
						<!-- Fin pedidos -->

					</div>
				</div>
			</div>
		</main>
	</div>

	<script th:src="@{/js/theme.js}"></script>
</body>

</html>