<header th:fragment="navbar">
	<nav class="navbar navbar-expand-lg"
		style="background: linear-gradient(90deg, rgba(141,148,241,1) 0%, rgba(157,141,241,1) 49%, rgba(181,141,241,1) 100%);">
		<div class="container-fluid">
			<img th:src="@{/img/logo2.png}" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
			<a class="navbar-brand text-white nombreTiendaSuplementos">Tienda de Suplementos</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 5px;">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<!-- Home -->
					<li class="nav-item">
						<a class="nav-link active text-white" aria-current="page" th:href="@{/home}">Home</a>
					</li>
					<!-- Suplementos -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Suplementos
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/suplementos/1}">Proteína</a></li>
							<li><a class="dropdown-item" th:href="@{/suplementos/2}">Creatina</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" th:href="@{/suplementos}">Ver todo</a></li>
						</ul>
					</li>
					<!-- Administracion -->
					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Administración
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/admin/usuarios}">Usuarios</a></li>
							<li><a class="dropdown-item" th:href="@{/admin/suplementos}">Suplementos</a></li>
						</ul>
					</li>
					<!-- Carrito -->
					<li class="nav-item perfilLink">
						<a th:href="@{/carrito}" class="nav-link text-white">Carrito</a>
					</li>
					<!-- Perfil -->
					<li class="nav-item perfilLink">
						<a th:href="@{/perfil}" class="nav-link text-white">Perfil</a>
					</li>
				</ul>
				<a th:href="@{/carrito}" class="carrito"><i class="fa-regular fa-cart-shopping"></i></a>
				<a th:href="@{/perfil}" class="iconoPerfil"><i class="fa-solid fa-user"></i></a>
			</div>
		</div>
	</nav>
</header>