<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Error - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/styleLogin.css}" />
	<!-- Fin CSS -->
</head>

<body>
	<div class="wrapper">
		<h1>Se ha producido un error</h1>
		<p style="text-align: center; margin-top: 20px;">Pulse el siguiente botón para volver</p>

		<a class="btn boton" th:href="@{/home}">Pulse aquí para volver</a>
	</div>
</body>

</html>