<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	data-bs-theme="dark">

<head>
	<title>Nutrición - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- Fin CSS -->
	<!-- JS -->
	<script th:src="@{/js/toast.js}"></script>
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
	<!-- Boton cambiar modo -->
	<div th:replace="~{partials/botonDarkLight::botonCambiarModo}"></div>
	<!-- Fin boton cambiar modo -->

	<!-- Navbar -->
	<div th:replace="~{partials/navbar::navbar}"></div>

	<!-- Contenedor -->
	<div class="container">
		<main role="main" class="pb-3">
			<!-- Suplementos -->
			<div class="row" style="margin-top: 80px">
				<div class="col-12">

					<div class="row">
						<h1 class="text-center mb-5">Suplementos</h1>	
					</div>

					<div class="row">
						<!-- Dropdown Filtrar suplemento -->
						<div class="dropdown col-9" style="margin-bottom: 15px">
							<button class="btn btn-outline-secondary dropdown-toggle shadow-lg" type="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Filtrar por
							</button>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/suplementos/1}">Proteína</a></li>
								<li><a class="dropdown-item" th:href="@{/suplementos/2}">Creatina</a></li>
								<li><a class="dropdown-item" th:href="@{/suplementos/3}">Pre-Entrenamiento</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" th:href="@{/suplementos}">Ver todo</a></li>
							</ul>
						</div>
						<!-- Fin Dropdown Filtrar suplemento -->

						<!-- Buscador -->
						<div class="col-12 col-md-3">
							<input type="text" class="form-control shadow-lg" placeholder="Buscar" id="searchInput">
						</div>
						<!-- Fin buscador -->
					</div>

					<div class="row" id="suplementosContainer" th:fragment="suplementosFragments">
						<!-- No existe Suplemento -->
						<div th:if="${listaSuplementosDTO.size() == 0}" class="col-12" style="margin-top: 80px">
							<h3 class="text-center">No existe ningún suplemento todavía.</h3>
						</div>
						<!-- Fin No existe Suplemento -->

						<!-- Cards Suplementos -->
						<div th:each="suplemento: ${listaSuplementosDTO}" class="col-lg-2 col-md-3 col-sm-4 col-6 mt-4">
							<div class="card sombraDiv">
								<img th:src="'data:image/png;base64, ' + ${suplemento.getImagenSuplemento()}"
									class="card-img-top" th:alt="${suplemento.getNombreSuplemento()}"
									style="max-height: 200px">
								<div class="card-body">
									<h5 class="card-title" th:text="${suplemento.getNombreSuplemento()}"></h5>
									<p th:if="${suplemento.getDescSuplemento().length > 50}"
										th:text="${suplemento.getDescSuplemento().substring(0, 50)} + ..."
										class="card-text"></p>
									<p th:if="${suplemento.getDescSuplemento().length <= 50}" class="card-text"
										th:text="${suplemento.getDescSuplemento()}"></p>
									<p class="card-text">Precio: <span
										th:text="${suplemento.formateaPrecio()}"></span>€</p>
									<a th:href="@{/carrito/agrega-suplemento/} + ${suplemento.getIdSuplemento()} + '?tipo=' + ${tipo}"
										class="btn btn-primary">Añadir al carrito</a>
								</div>
							</div>
						</div>
						<!-- Fin Cards Suplementos -->
					</div>
				</div>
			</div>
			<!-- Fin Suplementos -->
		</main>
	</div>

	<!-- Toast -->
	<div th:replace="~{partials/toast::toast}"></div>

	<script th:if="${param.success}">
		muestraToast("Se ha agregado el suplemento al carrito.", true);
	</script>

	<script th:if="${param.error}">
		muestraToast("No se ha podido agregar el suplemento al carrito.", false);
	</script>

	<!-- Script AJAX -->
	<script>
		$(document).ready(function(){
			$('#searchInput').on('input', function(){
				let keyword = $(this).val();
				if(keyword.length >= 4 || keyword.length == 0) {
					$.ajax({
						type: 'GET',
						url: '/suplementos/filter',
						data: {keyword: keyword},
						success: function(data) {
							$('#suplementosContainer').html(data);
						},
						error: function(error){
							console.log(error);
						}
					});
				}
			});
		});
	</script>


	<script th:src="@{/js/theme.js}"></script>
</body>

</html>