<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Nutrición - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- Fin CSS -->
	<!-- SweetAlert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- Fin SweetAlert2 -->
</head>

<body>
	<!-- Navbar -->
	<div th:replace="~{partials/navbar::navbar}"></div>

	<!-- Contenedor -->
	<div class="container">
		<main role="main" class="pb-3">
			<!-- Suplementos -->
			<div class="row" style="margin-top: 80px">
				<div class="col-12">
					<div class="row">
						<!-- Dropdown Filtrar suplemento -->
						<div class="dropdown" style="margin-bottom: 15px">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Filtrar por
							</button>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/suplementos/1}">Proteína</a></li>
								<li><a class="dropdown-item" th:href="@{/suplementos/2}">Creatina</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" th:href="@{/suplementos}">Ver todo</a></li>
							</ul>
						</div>
						<!-- Fin Dropdown Filtrar suplemento -->

						<!-- No existe Suplemento -->
						<div th:if="${listaSuplementosDTO.size() == 0}" class="col-12" style="margin-top: 80px">
							<h3 class="text-center">No existe ningún suplemento todavía.</h3>
						</div>
						<!-- Fin No existe Suplemento -->

						<!-- Cards Suplementos -->
						<div th:each="suplemento: ${listaSuplementosDTO}" class="col-lg-2 col-md-3 col-sm-4 col-6">
							<div class="card">
								<img th:src="'data:image/png;base64, ' + ${suplemento.getImagenSuplemento()}"
									class="card-img-top" th:alt="${suplemento.getNombreSuplemento()}"
									style="max-height: 200px">
								<div class="card-body">
									<h5 class="card-title" th:text="${suplemento.getNombreSuplemento()}"></h5>
									<p th:if="${suplemento.getDescSuplemento().length > 50}"
										th:text="${suplemento.getDescSuplemento().substring(0, 50)} + ..."
										class="card-text"></p>
									<p th:if="${suplemento.getDescSuplemento().length <= 50}" class="card-text"
										th:text="${suplemento.getDescSuplemento()}"></p>
									<p class="card-text">Precio: <span
											th:text="${suplemento.getPrecioSuplemento()}"></span>€</p>
									<a th:href="@{/carrito/agrega-suplemento/} + ${suplemento.getIdSuplemento()}"
										class="btn btn-primary">Añadir al carrito</a>
								</div>
							</div>
						</div>
						<!-- Fin Cards Suplementos -->
					</div>
				</div>
			</div>
			<!-- Fin Suplementos -->
		</main>
	</div>

	<script th:if="${param.success}">
		Swal.fire({
			title: "Éxito!",
			text: "El suplemento se ha agregado al carrito con éxito!",
			icon: "success"
		});
	</script>

	<script th:if="${param.error}">
		Swal.fire({
			title: "Error!",
			text: "El suplemento no se ha podido agregar al carrito!",
			icon: "error"
		});
	</script>
</body>

</html>