<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Editar Perfil - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- Fin CSS -->
	<!-- JS -->
	<script th:src="@{/js/toast.js}"></script>
</head>

<body>
	<!-- Boton cambiar modo -->
	<div th:replace="~{partials/botonDarkLight::botonCambiarModo}"></div>
	<!-- Fin boton cambiar modo -->
	
	<!-- Nav -->
	<div th:replace="~{partials/navbar::navbar}"></div>
	<!-- Fin Nav -->

	<!-- Contenedor -->
	<div class="container">
		<main role="main" class="pb-3">
			<div class="row">
				<div class="col-12">
					<h1 class="text-center tituloVista">Editar Perfil</h1>
				</div>
				<div class="col">
					<div class="contenedor">
						<!-- Imagen -->
						<div class="contenedor-imagen">
							<img th:if="${usuarioDTO.getImagenUsuario() != null}"
								th:src="'data:image/png;base64, '+ ${usuarioDTO.getImagenUsuario()}"
								class="card-img-top imagen" alt="Foto de perfil del usuario" id="profile-pic">
							<img th:if="${usuarioDTO.getImagenUsuario() == null}"
								src="https://upload.wikimedia.org/wikipedia/commons/4/41/Profile-720.png"
								class="card-img-top imagen" alt="Foto de perfil del usuario" id="profile-pic">
						</div>

						<!-- Formulario -->
						<div class="inputs-form">
							<form method="post" th:action="@{/perfil/editar}" th:object="${usuarioDTO}"
								enctype="multipart/form-data" onsubmit="return validarFormularioEditarPerfil()">

								<!-- Imagen -->
								<div class="mb-3">
									<label for="imagenForm" class="btn btn-primary botonImagen">Añadir imagen</label>
									<input type="file" accept="image/jpeg, image/png, image/jpg" id="imagenForm"
										style="display: none;" name="imagenFile">
								</div>

								<!-- Email -->
								<div class="mb-3">
									<label for="email" class="form-label">Email</label>
									<input type="email" class="form-control inputVistaEditar" id="email"
										th:field="*{emailUsuario}" maxlength="50" disabled>
								</div>

								<!-- Nombre -->
								<div class="mb-3">
									<label for="nombre" class="form-label">Nombre</label>
									<input type="text" class="form-control inputVistaEditar" id="nombre"
										th:field="*{nombreUsuario}" maxlength="50">
								</div>

								<!-- Telefono -->
								<div class="mb-3">
									<label for="tlf" class="form-label">Teléfono</label>
									<input type="text" class="form-control inputVistaEditar" id="tlf"
										th:field="*{tlfUsuario}" maxlength="15">
								</div>

								<!-- Boton enviar -->
								<button type="submit" class="btn btn-primary">Enviar</button>
							</form>
							<!-- Fin formulario -->

							<!-- Boton volver -->
							<a th:href="@{/perfil}" class="btn btn-danger botonVolver">Volver</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<!-- Toast -->
	<div th:replace="~{partials/toast::toast}"></div>

	<script>
		let profilePic = document.getElementById("profile-pic");
		let inputFile = document.getElementById("imagenForm");

		inputFile.onchange = function () {
			profilePic.src = URL.createObjectURL(inputFile.files[0]);
		}
	</script>

	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/theme.js}"></script>

</body>

</html>