<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Perfil - Tienda de Suplementos</title>
	<th:block th:insert="~{partials/head::headerFiles}"></th:block>
	<!-- SweetAlert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- Fin SweetAlert2 -->
	<!-- CSS -->
	<link rel="stylesheet" href="css/style.css" />
	<!-- Fin CSS -->
	<!-- JS -->
	<script th:src="@{/js/toast.js}"></script>
</head>

<body>
	<!-- Boton cambiar modo -->
	<div th:replace="~{partials/botonDarkLight::botonCambiarModo}"></div>
	<!-- Fin boton cambiar modo -->

	<!-- Nav -->
	<div th:replace="~{partials/navbar::navbar}"></div>
	<!-- Fin Nav -->

	<!-- Contenedor -->
	<div class="container">
		<main role="main" class="pb-3">
			<div class="row" style="margin-top: 25px;">
				<div class="col">
					<div class="divContenedorPerfil ">
						<!-- Imagen perfil -->
						<img th:if="${usuarioDTO.getImagenUsuario() == null}"
							src="https://upload.wikimedia.org/wikipedia/commons/4/41/Profile-720.png"
							class="img-fluid imagenPerfil" alt="Foto perfil usuario">
						<img th:if="${usuarioDTO.getImagenUsuario() != null}"
							th:src="'data:image/png;base64, '+ ${usuarioDTO.getImagenUsuario()}"
							class="img-fluid imagenPerfil" alt="Foto perfil usuario">

						<!-- Nombre usuario -->
						<h2 class="nombrePerfil" th:text="${usuarioDTO.getNombreUsuario()}">Francisco José</h2>

						<!-- Boton editar perfil -->
						<a class="btn btn-secondary botonEditarPerfil" sec:authorize="hasRole('ROLE_USER')"
							th:href="@{/perfil/editar}">Editar perfil</a>

						<!-- Boton borrar cuenta -->
						<a class="btn btn-danger botonEliminarCuenta" sec:authorize="hasRole('ROLE_USER')"
							th:attr="data-emailUsuario=${usuarioDTO.getEmailUsuario()}"
							onclick="compruebaEliminar(event)">Eliminar
							cuenta</a>

						<!-- Cerrar sesión -->
						<a class="btn btn-primary botonVolverPerfil" th:href="@{/logout}">Cerrar sesión</a>
					</div>
				</div>
			</div>
		</main>
	</div>

	<!-- Toast -->
	<div th:replace="~{partials/toast::toast}"></div>

	<script>
		function compruebaEliminar(event) {
			const emailUsuario = event.currentTarget.getAttribute("data-emailUsuario");
			Swal.fire({
				title: "¿Estás seguro?",
				text: 'Para eliminar introduce el email: "' + emailUsuario + '"',
				input: 'text',
				showCancelButton: true
			}).then((result) => {
				if (result.value == emailUsuario) {
					// Eliminamos
					// Obtén la ruta base de la URL actual (localhost:8080)
					const baseUrl = window.location.origin;

					// Redirige a la nueva URL (/Admin/BorrarUsuario)
					window.location.href = baseUrl + '/perfil/borrar';
				} else {
					Swal.fire({
						title: "Info",
						text: "Se ha cancelado la operación de eliminar cuenta.",
						icon: "info"
					});
				}
			});
		}
	</script>

	<!-- Control de alertas -->
	<script th:if="${param.editado}">
		muestraToast("El perfil ha sido editado correctamente!", true);
	</script>
	<script th:if="${param.error}">
		muestraToast("No se ha podido editar el perfil.", false);
	</script>

	<script th:src="@{/js/theme.js}"></script>
</body>

</html>